/* Base/Custom */

#loading {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  z-index: 10000;
  background: transparent;
  transition: all 200ms ease-in-out;
  visibility: visible;
  opacity: 1;

  svg {
    overflow: visible;

    path, rect {
      fill: rgba(255, 255, 255, 0.8);
      filter: drop-shadow( 0 0 5px #0F172A);
    }
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}


.svg-icon {
  width: 1.25rem;
  max-width: 1.25rem;
  min-width: 1.25rem;

  filter: invert(20%) sepia(89%) saturate(1755%) hue-rotate(180deg) brightness(93%) contrast(94%);

  &:hover {
    
    filter: invert(7%) sepia(47%) saturate(1229%) hue-rotate(192deg) brightness(93%) contrast(96%);
  }
}
